@import 'fonts.css';
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'comfortaa';
  font-weight: 400;
  scroll-behavior: smooth;
}
::-webkit-scrollbar-track {border-radius: 5px;}

::-webkit-scrollbar {width: 3px;background: #000;}

::-webkit-scrollbar-thumb {border-radius: 4px;background: rgb(206, 206, 206);}

*::before{font-family: 'icons';}
.icon-sun::before{content: '\f185'; font-weight: 300;}
.icon-moon::before{content: '\f186'; font-weight: 300;}
:root{
  --bg: #ffffff;
  --bg2: #f8f8f8;
  --navbar: #000000ac;
  --color-text: #242121;
  --title-text: #01353E;
  --del-btn: #990000;
  --icon-sun-color: #010101;
  --icon-moon-color: #f8f8f8;
}
/* container */
.container{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
/* mous */
.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 9999;
}

.custom-cursor-inner {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #00B2A0;
  border-radius: 50%;
  animation: custom-cursor-animation 1.5s infinite ease-in-out;
  transform-origin: center;
  pointer-events: none;
}

@keyframes custom-cursor-animation {
  0% {
    transform: scale(1.3);
    opacity: 1;
  }
  50% {
    transform: scale(0.7);
    opacity: 0.7;
  }
  100% {
    transform: scale(1.3);
    opacity: 1;
  }
}
/* wrapp */
.wrapp{
  width: 100%;
  min-height: 100vh;
  background: var(--bg);
  transition: 0.3s;
  overflow: hidden;
}
.shadow{
  background: var(--navbar);
  transition: 0.5s;
}
._anim-items{
  transform: translate(0, 110%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}
._anim-items._active{
  transform: translate(0, 0);
  opacity: 1;
}
.navbar{
  position: fixed;
  top: 0;
  z-index: 30;
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.navbar__content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
}
.navbar__content .logo{
  color: #fff;
  text-align: center;
  font-family: 'Raleway';
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 0.6px;
}
.navbar__content ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 670px;
  width: 100%;
}
.navbar__content ul li{
  transform: translate(0, 200%);
}
.navbar__content ul li._active{
  transition: all 0.8s ease 0.2s;
}
.navbar__content ul li a{
  color: #FFF;
  font-family: 'Roboto Condensed';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.6px;
  border: #00B2A0;
  position: relative;
}
.navbar__content ul li a::before{
  content: '';
  transition: 0.3s;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: transparent;
}
.navbar__content ul li a:hover::before{
  background: #00B2A0;
}
.navbar-theme{
  width: 100px;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  border-radius: 30px;
  background: transparent;
  border: 4px solid #fff;
  position: relative;
  cursor: pointer;
  transform: translate(0, 110%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}
.navbar-theme._active{
  transition: all 0.8s ease 0.4s;
}
.navbar-theme.light::before,
.navbar-theme.dark::before{
  position: absolute;
  content: '';
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background: #fff;
  transition: left 0.3s;
}
.navbar-theme.light::before{left: -1px;}
.navbar-theme.dark::before{left: 48px;}
.navbar-theme .icon-sun{
  color: var(--icon-sun-color);
  transition: 0.3s;
}
.navbar-theme .icon-moon{
  color: var(--icon-moon-color);
  transition: 0.3s;
}
.navbar-theme span{
  z-index: 2;
}
/* burger */
.navbar-btn{
  width: 40px;
  height: 30px;
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
  display: none;
  flex-direction: column;
  justify-content: space-between;
}
.navbar-btn span{
  display: flex;
  width: 40px;
  height: 5px;
  border-radius: 6px;
  background: #fff;
}
.navbar-close{
  width: 40px;
  height: 40px;
  border: 5px solid transparent;
  outline: none;
  background: transparent;
  cursor: pointer;
  margin-right: 10px;
  position: absolute;
  right: 230px;
}
.navbar-close span:first-child{
  display: flex;
  width: 40px;
  height: 3px;
  background: var(--color-text);
  transform: rotate(45deg);
}
.navbar-close span:last-child{
  display: flex;
  width: 40px;
  height: 3px;
  background: var(--color-text);
  transform: rotate(-45deg);
}
.navbar__content-list{
  display: flex;
  align-items: center;
  column-gap: 30px;
}
.navbar__content-menu__tablet{
  position: fixed;
  right: 0;
  top: 0px;
  width: 62%;
  height: 100vh;
  background: var(--bg);
  color: var(--color-text);
  flex-shrink: 0;
  z-index: 1;
  box-shadow: 10px 0px 0px red;
  transform: translateX(150%);
  transition: 0.4s;
}
.navbar__content-menu__tablet ul{
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 25px;
  padding-left: 25px;
  padding-top: 30px;
}
.navbar__content-menu__tablet.menu__active{
  transform: translateX(30%) !important;
  display: flex;
  flex-direction: column;
  align-items: start;
}
h1{
  color: #FFF;
  text-align: center;
  font-family: 'Raleway';
  font-size: 128px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  transform: translate(0, 110%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}
h1._active{
  transform: translate(0, 0);
  opacity: 1;
  transition: all 0.8s ease 0.4s;
}
h1 span{
  font-family: 'Raleway';
  font-weight: 700;
  letter-spacing: 0.6px;
}
.header{
  background: url(../images/Bg.png)no-repeat center center / cover;
  height: 100vh;
}
.header__content{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__content-title p{
  color: #FFF;
  font-family: 'Roboto Condensed';
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.6px;
  text-align: center;
  transform: translate(0, 110%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}
.header__content-title p._active{
  transform: translate(0, 0);
  opacity: 1;
  transition: all 0.8s ease 1s;
}
.header__content-title{
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.black span{
  background: #000 !important;
}
/* about */
h3{
  color: var(--title-text);
  text-align: center;
  font-family: 'Raleway';
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.6px;
  position: relative;
  min-height: 80px;
}
h3::after{
  position: absolute;
  content: '/';
  color: #00B2A0;
  font-family: 'Raleway';
  font-size: 72px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.6px;
}
.about__content{
  min-height: 550px;
}
.about__content h3{
  margin-top: 180px;
  margin-bottom: 140px;
}
.about__content-text{
  display: flex;
  gap: 50px;
  margin-bottom: 50px;
}
.about__content-text p{
  width: 580px;
  color: var(--color-text);
}
/* facilities */
.facilities__content h3{
  margin-top: 180px;
  margin-bottom: 120px;
}
.facilities__content-icons{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 100px;
}
.facilities__content-icons:last-child{
  justify-content: space-around;
}
.facilities__content-icon{
  width: 205px;
  display: flex;
  gap: 20px;
}
.facilities__content-icons--1{
  margin-bottom: 150px;
}
.facilities__content-icon p{
  color: var(--color-text);
  font-family: 'Roboto Condensed';
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.6px;
}
.facilities__content-icon img{
  width: 61px;
  height: 51px;
}
/* slider */
.slider{
  width: 100%;
  height: 800px;
  /* background: brown; */
  position: relative;
  margin: 30px auto;
  overflow: hidden;
  margin-bottom: 200px;
  box-shadow: 10px 0px 100px var(--color-text);
}
.slider-h3{
  margin-top: 190px;
  margin-bottom: 150px;
}
.slider-list{
  width: 100%;
  height: 100%;
  position: relative;
}
.slider-list__item{
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  /* background: orangered; */
}
.slider-list__item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider-controller{
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 0;
}
.slider-controller__btn{
  width: 150px;
  border: none;
  outline: none;
  font-size: 70px;
  cursor: pointer;
  color: #fff;
  transition: text-shadow 0.3s;
}
.slider-controller__btn:hover{
  text-shadow: 0 0 20px #ffffff;
}
.prev{
  background: linear-gradient(90deg, rgb(0, 0, 0), rgba(255, 255, 255, 0));
}
.next{
  background: linear-gradient(270deg, rgb(0, 0, 0), rgba(255, 255, 255, 0));
}
.slider-dots{
  width: 100%;
  position: absolute;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
  bottom: 20px;
}
.slider-dots li {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background: #ffffff;
  cursor: pointer;
  transition: width 0.3s, height 0.3s;
}
.slider-dots li.active{
  width: 40px;
  height: 10px;
  background: #00B2A0;
}
/* rasimlar */
.picture__content h3{
  margin-top: 180px;
  margin-bottom: 140px;
}
.picture__content-block{
  display: grid;
  gap: 30px;
  max-width: 1200px;
  width: 100%;
  height: 600px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  overflow: hidden;
}
.picture__content-block{
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.picture__content-block__item{
  overflow: hidden;
  height: 280px;
  position: relative;
  transition: 0.4s;
}
.picture__content-block__item:hover{
  transform: scale(1.05);
}
.picture__content-block__item-1{
  width: 100%;
  grid-row: 1 / 2;
  grid-column: 1 / 4;
}
.picture__content-block__item-2{
  width: 100%;
  grid-row: 1 / 2;
  grid-column: 4 / 5;
}
.picture__content-block__item-3{
  width: 100%;
  grid-row: 1 / 2;
  grid-column: 5 / 6;
}
.picture__content-block__item-4{
  width: 100%;
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}
.picture__content-block__item-5{
  width: 100%;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}
.picture__content-block__item-6{
  width: 100%;
  grid-row: 2 / 3;
  grid-column: 3 / 6;
}
.picture__content-block__item img{
  width: 100%;
  height: 280px;
  object-fit: cover;
  transform: translate(0, 80%);
}
/* VIDO */  
video{
  position: relative;
}
.video__content-media::before{
  content: '';
  position: absolute;
  display: flex;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: #00000076;
  transition: 0.3s;
}
.video__content-media:hover::before{
  opacity: 0;
  z-index: -1;
}
.video__content-title{
  min-height: 200px;
  background: var(--bg2);
  margin-top: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.video__content-media{
  height: 100%;
  display: flex;
  align-items: center;
  margin-top: 100px;
  position: relative;
}
.video__content-des{
  display: flex;
  justify-content: space-around;
  margin-top: 120px;
  background: var(--bg2);
  height: 150px;
}
.video__content-des .container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.video__content-des p{
  color: var(--color-text);
  font-family: 'Roboto Condensed';
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
}
.video__content-des div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.video__content-des span{
  color: var(--color-text);
  text-align: center;
  font-family: 'Roboto Condensed';
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 18px; /* 128.571% */
  letter-spacing: 0.6px;
}
.teachers{
  margin-bottom: 180px;
  overflow: hidden;
}
.teacher__content-block{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 100px;
  gap: 50px;
}
.teacher__content-block div{
  max-width: 330px;
  width: 100%;
}
.teacher__content-block div p{
  color: var(--color-text);
  font-family: 'Roboto Condensed';
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.6px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.teacher__content-block img{
  max-width: 330px;
  width: 100%;
  height: 350px;
  flex-shrink: 0;
  object-fit: cover;
  box-shadow: 0px 0 15px var(--color-text);
  position: relative;
}
.teacher__content-block img:hover{
  transform: scale(1.15);
}
.teacher__content-block img:nth-of-type(1)::before{
  content: 'Muzaffarbek Mirzabekov';
  position: absolute;
  display: flex;
  color: var(--color-text);
  font-family: 'Roboto Condensed';
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 116.667% */
  letter-spacing: 0.6px;
}
.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form h3{
  margin-top: 180px;
  margin-bottom: 120px;
}
.form__content{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.form__content-input{
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 569px;
  width: 100%;
}
.form__content-input input{
  display: flex;
  background: transparent;
  width: 100%;
  height: 40px;
  padding-top: 2px;
  border: none;
  outline: none;
  border-bottom: 3px solid var(--bg2);
  color: #00B2A0;
  font-family: 'Roboto Condensed';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 100% */
  letter-spacing: 0.6px;
}
.form__content-info{
  background: var(--bg2);
  min-height: 120px;
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.form__content-info p{ 
  color: var(--color-text);
  text-align: center;
  font-family:'Roboto Condensed';
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 125% */
  letter-spacing: 0.6px;
}
.form-button{
  margin: 0 auto;
  outline: none;
  border: 1px solid #C4C4C4;
  background: transparent;
  max-width: 350px;
  width: 100%;
  height: 70px;
  flex-shrink: 0;
  color: var(--color-text);
  text-align: center;
  font-family: 'Roboto Condensed';
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 75% */
  letter-spacing: 0.6px;
  margin-top: 80px;
  transition: 0.4s;
}
.form-button:hover{
  background: var(--color-text);
  color: var(--bg);
}
footer{
  background: #00B2A0;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
}
footer p{
  color: #FFF;
  text-align: center;
  font-family: 'Raleway';
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
}
.social{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-top: 80px;
  gap: 30px;
}
.social a{
  color: var(--color-text);
  font-family: 'Roboto Condensed';
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 75% */
  letter-spacing: 0.6px;
  transition: 0.3s;
}
.social a:hover{
  color: #00B2A0;
}






@media (max-width: 1400px){
}
@media (max-width: 1200px){
  .container{
    max-width: 960px;
  }
}
@media (max-width: 992px){
  .container{
    max-width: 720px;
  }
  .navbar__content ul, .logo{
    display: none;
  }
  .navbar__content-menu__tablet .navbar__content-list,.navbar__nav--btn{
    display: flex;
  }
  .navbar__content-menu__tablet .navbar__content-list li a{
    color: var(--color-text);
  }
  .navbar-btn{
    display: flex;
  }
  .picture__content-block{
    display: grid;
    gap: 30px;
    max-width: 1200px;
    width: 100%;
    height: 1450px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; 
  }
  .picture__content-block__item-1{
    width: 100%;
    grid-row: 1 / 2;
    grid-column: 1 / 3;
  }
  .picture__content-block__item-2{
    width: 100%;
    grid-row: 2 / 3;
    grid-column: 1 / 3;
  }
  .picture__content-block__item-3{
    width: 100%;
    grid-row: 3 / 4;
    grid-column: 1 / 3;
  }
  .picture__content-block__item-4{
    width: 100%;
    grid-row: 4 / 5;
    grid-column: 1 / 3;
  }
  .picture__content-block__item-5{
    width: 100%;
    grid-row: 2 / 3;
    grid-column: 1 / 3;
  }
  .picture__content-block__item-6{
    width: 100%;
    grid-row: 5 / 6;
    grid-column: 1 / 3;
  }
}
@media (max-width: 768px){
  .container{
    max-width: 540px;
  }
  .navbar__content-menu__tablet{
    width: 85%;
  }
  .navbar__content-menu__tablet.menu__active{
    transform: translateX(20%) !important;
  }
  .facilities__content-icon--center{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
  }
  .facilities__content-icon--center p{
    width: 147.522px;
  }
}
@media (max-width: 620px){
  .navbar-close{
    right: 130px;
  }
}
@media (max-width: 576px){
  .container{
    max-width: 100%;
  }
  .navbar__content-menu__tablet{
    width: 100%;
  }
  .navbar__content-menu__tablet.menu__active{
    transform: translateX(0%) !important;
  }
  .navbar-close{
    right: 30px;
  }
  h1{
    font-size: 92px;
  }
  .about__content-text{
    flex-wrap: wrap;
  }
}
@media (max-width: 480px){
  h1{
    font-size: 62px;
  }
  h3{
    font-size: 32px;
  }
  .facilities__content-icons--1{
    margin-top: 0;
    margin-bottom: 0;
  }
  .facilities__content-icon{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
  }
  .facilities__content-icon p{
    width: 147.522px;
  }
}
@media (min-width: 2400px){
  .header{
    height: 1080px;
  }
}
.white::before{
  background: #fff !important;
}